#main {
    display: grid;
    place-items: center;
    color: white;
  }

#form {
    display: grid;
    place-items: center;
    color: white;
}

#nameInput {
    height: 5vh;
    width: 300px;
    max-height: 5vh;
    margin-top: 2vh;
    border-style: solid;
    border-radius: 10px;
}

#startGame {
    color: black;
    margin-top: 2vh;
    border-style: solid;
    border-radius: 10px;
    width: 100px;
    height: 5vh;
}

#cardsImg {
    height: 15vh;
    max-height: 15vh;
}