body {
    background-color: rgb(0, 0, 0);
}

#main {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: grid;
    place-items: center;
}

#ohimg {
    height: 50vh;
}

#ngLink {
    margin-top: -30vh;
}

#ngImg {
    height: 10vh;
}