#main {
    display: grid;
    place-items: center;
    color: white;
  }

#form {
    display: grid;
    place-items: center;
    color: white;
}

#addPlayers {
    display: grid;
    place-items: center;
    color: white;
    height: 15vh;
    max-height: 15vh;
}

#nameInput {
    height: 5vh;
    width: 300px;
    max-height: 5vh;
    margin-top: 2vh;
    border-style: solid;
    border-radius: 10px;
}

#addBtn {
    color: white;
    margin-top: 2vh;
    border-style: solid;
    border-radius: 10px;
    width: 100px;
    height: 5vh;
}

#cards {
    margin-top: 2vh;
    border-style: solid;
    border-radius: 10px;
    width: 100px;
    height: 5vh;
    color: white;
}

#cardsLink    {
    color: white;
    text-decoration: none;
    height: 5vh;
}

#icon {
  height: 50vh;
  max-height: 50vh;
}
